HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ecdsa_384_key
HostKey /etc/ssh/ssh_host_ed25519_key

KexAlgorithms=+diffie-hellman-group14-sha1
HostKeyAlgorithms=+ssh-rsa,ecdsa-sha2-nistp384
Ciphers=+aes128-cbc,aes192-cbc,aes256-cbc
PubkeyAcceptedAlgorithms=+ssh-rsa

PermitEmptyPasswords=yes
AcceptEnv TEST_*
GatewayPorts clientspecified

LogLevel DEBUG1
